.buildings-column {
  grid-column-start: 1;
  display: flex;
  padding: 3px;
  align-items: center;
  /* background-color: rgba(35, 199, 98, 0.473); */
}

.building-info-img {
  margin-right: 3px;
  /* background-color: cornsilk; */
}

.building-info-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: rgba(210, 105, 30, 0.507); */
}

.smoll {
  font-size: 10.8px;
}
