.brd-flex-container {
  display: flex;
  justify-content: space-around;
  background-color: #25252379;
}

.brd-group {
  display: flex;
  align-items: center;
  padding: 0px 2px;
}

.brd-group > img {
  margin: 0px 3px;
}