.container {
  background-color: var(--main);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  box-shadow: var(--shadow-dark) 6px 6px 12px,
    var(--shadow-light) -6px -6px 12px;
  width: min-content;
  height: max-content;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
}

.header {
  padding: 3px;
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.452); */
}

.ffs {
  /* background-color: rgba(0, 0, 0, 0.452); */
  display: flex;
  align-items: center;
}

.cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: var(--text-colour);
  background-color: var(--main);
  /* box-shadow: 2px 2px 3px var(--shadow-dark), -2px -2px 3px var(--shadow-light); */

  /* background-color: rgba(0, 0, 0, 0.452); */
  /* font-weight: bold; */
  font-size: 14px;
  width: 1.25rem;
  height: 1.25rem;
  user-select: none;
}

/* .cancel:active {
  background-color: var(--main);
  transform: translateY(1px);
  box-shadow: inset 4px 4px 4px var(--shadow-dark),
    inset -4px -4px 4px var(--shadow-light);
} */
