.button-style {
  font-weight: bold;
  padding: 3px;
  min-width: 95px;
  margin: 0px 5px;
  border: none;
  color: #a9acb5;
  background-color: var(--main);
  transform: translateY(1px);
  box-shadow: inset 3px 3px 3px var(--shadow-dark), inset -3px -3px 3px var(--shadow-light);
  border-radius: 5px;
}
