.building-container {
  display: flex;
  flex-direction: column;
  /* background-color: beige; */
  color: var(--text-colour);
  padding: 15px 15px;
}

.building-title {
  padding: 15px;
  margin: 0px 10px;
  color: var(--text-colour);

  /* color: #a9acb5; */
  /* background-color: var(--main); */
}

.building-title > h2 {
}

.building-build-wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: minmax(max-content, 200px) repeat(5, min-content) max-content;
  column-gap: 2px;
  row-gap: 2px;
  margin: 0 auto;
  background-color: var(--main);
  /* box-shadow: 6px 6px 10px #191B1E81, -6px -6px 10px #3f454d81; */
  /* box-shadow:  10px 10px 20px #2d3035,
  -10px -10px 20px #3d4247; */
  box-shadow: var(--shadow-dark) 6px 6px 12px , var(--shadow-light) -6px -6px 12px ;

  border: solid rgba(0, 0, 0, 0.05) 1px;
  border-radius: 10px;
  
}

.building-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.brown {
  color: rgb(96, 48, 0);
}

.smoll {
  font-size: 10.8px;
}

.building-grid-item {
  display: flex;
  padding: 3px;
  /* background-color: brown; */
}

.building-info-container {
  display: flex;
  align-items: flex-start;
}

.building-info-img {
  margin-right: 5px;
}

.building-info-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.third-column {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.fully-constructed {
  justify-content: center;
  align-items: center;
  grid-column: 2/-1;
}

.fuck {
  grid-column: 2/7;
}

.BuildingRequirements {
  grid-column: 2/7;
  display: grid;
  grid-template-columns: subgrid;
  /* background-color: #35368679; */
  column-gap: 2px;
}

.inactive {
  justify-content: center;
  align-items: center;
}
