.building-container {
  display: flex;
  background-color: rgba(211, 211, 34, 0.664);
  color: var(--text-colour);
  padding: 15px 15px;
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* justify-self: center; */
  /* margin: auto; */
}

.building-build-wrapper {
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: minmax(max-content, 200px) repeat(5, 1fr) max-content;
  gap: 2px;
  background-color: var(--main);
  box-shadow: var(--shadow-dark) 6px 6px 12px,
    var(--shadow-light) -6px -6px 12px;
  border: solid rgba(0, 0, 0, 0.05) 1px;
  border-radius: 10px;
}

.building-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-weight: bold;
  background-color: rgba(34, 96, 211, 0.664);
}

.building-grid-item {
  display: flex;
  padding: 3px;
  background-color: rgba(199, 35, 35, 0.473);
}

.construct-column {
  align-items: center;
}

.fully-constructed {
  justify-content: center;
  align-items: center;
  grid-column: 2/7;
  font-weight: bold;
}

.requirements-column {
  grid-column: 2/7;
}
