.button-style {
  border: none;
  font-weight: bold;
  padding: 3px;
  margin: 0px 5px;
  min-width: 95px;
  cursor: pointer;
  color: #a9acb5;
  background-color: #35393e;
  box-shadow: 4px 4px 4px #2d3035, -4px -4px 4px #3d4247;
  border-radius: 5px;
}

.button-style:active {
  background-color: #4b4e4ed0;
  transform: translateY(1px);
  box-shadow: inset 6px 6px 6px #191b1e81, inset -6px -6px 6px #4b515a81;
}
