.button-style {
  outline: none;
  font-weight: bold;
  color: azure;
  padding: 3px;
  min-width: 95px;
  background: rgb(107, 71, 36);
  background: linear-gradient(
    to bottom,
    rgb(148, 122, 98) 0%,
    rgb(123, 92, 61) 22%,
    rgb(108, 72, 36) 30%,
    rgb(108, 72, 36) 100%
  );
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
}

.button-style:hover {
  background: linear-gradient(
    rgb(182, 148, 113) 0%,
    rgb(159, 118, 77) 22%,
    rgb(143, 97, 51) 30%,
    rgb(108, 77, 45) 100%
  );
}

.button-style:active {
  background: linear-gradient(
    to bottom,
    rgb(148, 122, 98) 0%,
    rgb(123, 92, 61) 22%,
    rgb(108, 72, 36) 30%,
    rgb(108, 72, 36) 100%
  );
}