.button-style {
  border: none;
  font-weight: bold;
  padding: 3px;
  margin: 0px 5px;
  min-width: 95px;
  cursor: pointer;
  color: var(--text-colour);
  background-color: var(--main);
  box-shadow: 3px 3px 6px var(--shadow-dark), -3px -3px 6px var(--shadow-light);
  border-radius: 5px;
}

.button-style:active {
  /* background-color: #4b4e4ed0; */
  transform: translateY(1px);
  /* box-shadow: inset 4px 4px 4px var(--shadow-dark), inset -4px -4px 4px var(--shadow-light); */
  box-shadow: inset 2px 2px 5px var(--shadow-dark), inset -3px -3px 7px var(--shadow-light);
}
