.testApp {
  background-color: rgb(161, 78, 78);
  /* height: 100vh; */
  /* width: 100vw; */
  /* min-height: 100%; */
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100%;
  height: 100%;
}

.sideBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  /* height: calc(100vh - (100vh - 100%)); */
  width: 150px;
  background-color: rgb(42, 140, 165);
  overflow-y: scroll;
}

.main {
  min-height: 300px;
  min-width: 300px;
  display: flex;
  background-color: rgb(100, 237, 107);
}

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: fit-content;
  /* background-color: rgba(0, 100, 0, 0.459); */
}

.mainHeaderVilInfo {
  white-space: nowrap;
  /* white-space: pre; */
  font-weight: bold;
  padding: 3px;
  border: solid rgba(0, 0, 0, 0.05) 1px;
  box-shadow: 3px 3px 6px var(--shadow-dark), -3px -3px 6px var(--shadow-light);
  border-radius: 5px;
  background-color: var(--main);
}

.shit {
  /* display: flex; */
  background-color: rgba(128, 255, 0, 0.432);
}

.square {
  background-color: rgba(210, 105, 30, 0.452);
  min-width: 800px;
  min-height: 500px;
  width: 100%;
}

.square2 {
  background-color: rgba(30, 210, 75, 0.452);
  min-width: 800px;
  min-height: 500px;
  width: 100%;
}

.long {
  background-color: black;
  min-height: 1000px;
  width: 100px;
}

.wide {
  background-color: rgb(66, 66, 66);
  height: 100px;
  min-width: 1000px;
}
