.testApp {
  display: flex;
  /* flex-direction: column; */
  min-height: 100%;
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(100, 237, 107);
  flex: 1;
  box-shadow: inset var(--shadow-dark) 6px 6px 12px,
    inset var(--shadow-light) -6px -6px 12px;
  border: solid rgba(0, 0, 0, 0.05) 1px;
  padding: 20px;
  background-color: var(--main);
  min-width: 700px;
  /* overflow-x: scroll; */
}

.sideBar {
  max-width: 100px;
  min-width: 100px;
  flex: 1;
}

.long {
  background-color: black;
  min-height: 1000px;
  min-width: 100px;
  margin: 10px;
}

.wide {
  background-color: rgb(66, 66, 66);
  min-height: 100px;
  min-width: 1000px;
  margin: 10px;

}


.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: fit-content;
  /* background-color: rgba(0, 100, 0, 0.459); */
}

.mainHeaderVilInfo {
  white-space: nowrap;
  /* white-space: pre; */
  font-weight: bold;
  padding: 3px;
  border: solid rgba(0, 0, 0, 0.05) 1px;
  box-shadow: 3px 3px 6px var(--shadow-dark), -3px -3px 6px var(--shadow-light);
  border-radius: 5px;
  background-color: var(--main);
}