* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-colour);
  background-color: var(--main);
  font-family: "Verdana", Courier, monospace;
  font-size: 12px;
  /* height: 100vh; */
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

:root {
  /* --main: #36393e;
  --shadow-light: rgba(255, 255, 255, 0.05);
  --shadow-dark: rgba(0, 0, 0, 0.56);
  --text-colour: rgb(161, 167, 175); */
  --main: #e6e7ee;
  --shadow-dark: #b8b9be;
  --shadow-light: #ffffff;
  --text-colour: rgb(40, 45, 51);
  --text-inactive-color: #a9acb5;
  --border-prog: solid 1px rgba(0, 0, 0, 0.05);
  --danger-text: #a91e2c;
}

.dangerText {
  color: var(--danger-text);
}

.link {
  font-weight: 700;
  text-decoration: none;
  color: #3c7db3;
}